<ion-header>
  <ion-navbar>
    <ion-title>
       PDF417 MZZO
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="scan()">Scan</button>

  <ion-card *ngIf="data">

    <ion-card-header>
      Card Header
    </ion-card-header>

    <ion-card-content>
      {{data | json}}
    </ion-card-content>

  </ion-card>
</ion-content>


